* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}
body {
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5%;
  border-radius: 10%;
}
.mega {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 5%;
  border-radius: 20px;
}
.logo {
  width: 35%;
  margin: auto;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
}
h1 {
  color: limegreen;
  text-align: center;
  font-size: 30px;
}
nav {
  background-color: limegreen;
  width: 95%;
  margin-top: 4%;
  padding: 2%;
  text-align: center;
  border-radius: 12px;
}
button {
  color: black;
  border-radius: 12px;
  padding: 0.3rem;
  border: none;
}
button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
label {
  font-style: bold;
}
p {
  font-size: 70%;
}
.monopattino {
  margin-top: 3%;
}
#carica1 {
  width: 45%;
  height: 4vh;
  padding: 0.5%;
  background-color: orange;
  border-radius: 12px;
  margin-top: 3%;
  margin-bottom: 3%;
}
#carica2 {
  width: 70%;
  height: 4vh;
  padding: 0.5%;
  background-color: lime;
  border-radius: 12px;
  margin-top: 3%;
  margin-bottom: 3%;
}
#carica3 {
  width: 20%;
  height: 4vh;
  padding: 0.5%;
  background-color: rgb(201, 52, 52);
  border-radius: 12px;
  margin-top: 3%;
  margin-bottom: 3%;
}
#carica1:hover {
  width: 48%;
  height: 5vh;
  border: solid 1px white;
}
#carica2:hover {
  width: 73%;
  height: 5vh;
  border: solid 1px white;
}
#carica3:hover {
  width: 23%;
  height: 5vh;
  border: solid 1px white;
}
